<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Vector oligo search{% endblock %}</title>
  <link href="/static/vendor/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/vendor/bootstrap-icons.min.css">
  <script src="/static/vendor/bootstrap.bundle.min.js"></script>
  {% block head %}{% endblock %}
  <link href="/static/style.css" rel="stylesheet">
</head>
<body>
  <div class="content-main">
    <div class="container-fluid page-content px-lg-5">
      <div class="row">
        <div class="col-5 col-md-2 col-lg-1 p-3">
          <img src="/static/img/gwcdt.png" width="100%" height="auto">
        </div>
        <div class="col-2 col-md-8 col-lg-10"></div>
        <div class="col-5 col-md-2 col-lg-1 p-3">
          <img src="/static/img/umea_university.png" width="100%" height="auto">
        </div>
      </div>
      <nav class="navbar navbar-expand-lg navbar-light px-3" style="background-color: #f0f0f0">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarContent">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/search">Search</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/page/changelog">Changelog</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    {% block content %}
  </div>
  {% endblock %}
</body>
</html>