<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Cool Form Bro</title>
</head>
<body>
  {% if input %}
    <h1>{{ input }}</h1>
  {% else %}
    <h1>Give me some input!</h1>
  {% endif %}

  {% if input %}
    <h2>
      <output>
        {{output}}
      </output>
    </h2>
    <p>
      <a href="/get?id={{input}}">Download</a>
    </p>
  {% endif %}
  <form
    action="/form"
    method="POST">
    <label>
      Your Input
      <input
        placeholder="PBANKA_XXXXXXX"
        list="genome-id"
        name="userInput" />
        <datalist id="genome-id">
          <option value="PBANKA_1034300"></option>
          <option value="PBANKA_1231600"></option>
          <option value="PBANKA_1437500"></option>
          <option value="PBANKA_1015500"></option>
          <option value="PBANKA_1319700"></option>
        </datalist>
    </label>
    <button>submit</button>
  </form>
  <p>
    <a href="/">No thank you</a>
  </p>
</body>
</html>