{% extends "base.html" %}
{% block title %}Vector oligo search: {{ title }}{% endblock %}
{% block content %}
  <div class="container-fluid page-content  px-lg-5 my-3">
    {% autoescape false %}
    {{ content }}
    {% endautoescape %}
    <form
      action="/search"
      method="POST">
      <div class="col-sm-6">
        <fieldset class="form-group">
          <legend style="font-size:20px" class="border-bottom mb-4">Genes</legend>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="gene-list">Gene identifier(s)</label>
            <div class="col-sm-9">
                <textarea class="form-control" id="gene-list" name="gene-list" placeholder="PBANKA_1414600
PBANKA_0206400
PBANKA_1451800
PBANKA_1339000
PBANKA_0106700
PBANKA_0408600
PBANKA_0617800">{% for gene_id in gene_ids %}{{ gene_id }}
{% endfor %}</textarea>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="form-group">
        <button class="btn btn-primary mb-3">Submit</button>
      </div>
    </form>
  </div>
  {% if error %}
  <div class="container-fluid px-lg-5">
    <div class="alert alert-warning" role="alert">
        {{error}}
    </div>
  </div>
  {% else %}
    {% if output %}
      <hr/>
      <script id="accordion-list-view-template" type="x-tmpl-mustache">
        {% raw %}
        <nav aria-label="Page navigation" class="my-3">
          <ul class="pagination justify-content-center">
            {{#paginationItems}}
            <li class="page-item {{disabled}}"><a class="page-link {{active}}" href="#?page={{pageNumber}}&pageSize={{pageSize}}&view={{viewType}}">{{label}}</a></li>
            {{/paginationItems}}
            <li class="page-item"><span class="pagination-label"> of {{pageCount}} pages.</span></li>
          </ul>
        </nav>
        {{#listItems}}
        <div class="row my-lg-5 my-sm-2">
          <h3>{{ gene_id }}</h3>
          <div class="accordion" id="accordion-{{ id }}">
            <div class="accordion-item">
              <h4 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-annotated-{{ id }}" aria-expanded="true" aria-controls="collapse-annotated-{{ id }}">
                  Annotated sequence
                </button>
              </h4>
              <div id="collapse-annotated-{{ id }}" class="accordion-collapse collapse show" data-bs-parent="#accordion-{{ id }}">
                <div class="accordion-body">
                  <p>
                    {{#annotations}}<span class="annotated-sequence break-all" aria-label="{{ label }}">{{ sequence }}</span>{{/annotations}}
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h4 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-sequence-{{ id }}" aria-expanded="true" aria-controls="collapse-sequence-{{ id }}">
                  Sequence only
                </button>
              </h4>
              <div id="collapse-sequence-{{ id }}" class="accordion-collapse collapse" data-bs-parent="#accordion-{{ id }}">
                <div class="accordion-body">
                  <p>
                    <span class="annotated-sequence break-all" aria-label="Oligo sequence">{{ sequence }}</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        {{/listItems}}
        <nav aria-label="Page navigation" class="my-3">
          <ul class="pagination justify-content-center">
            {{#paginationItems}}
            <li class="page-item {{disabled}}"><a class="page-link {{active}}" href="#?page={{pageNumber}}&pageSize={{pageSize}}&view={{viewType}}">{{label}}</a></li>
            {{/paginationItems}}
            <li class="page-item"><span class="pagination-label"> of {{pageCount}} pages.</span></li>
          </ul>
        </nav>{% endraw %}
      </script>
      <script id="table-list-view-template" type="x-tmpl-mustache">
        {% raw %}<nav aria-label="Page navigation" class="my-3">
          <ul class="pagination justify-content-center">
            {{#paginationItems}}
            <li class="page-item {{disabled}}"><a class="page-link {{active}}" href="#?page={{pageNumber}}&pageSize={{pageSize}}&view={{viewType}}">{{label}}</a></li>
            {{/paginationItems}}
            <li class="page-item"><span class="pagination-label"> of {{pageCount}} pages.</span></li>
          </ul>
        </nav>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">IGV</th>
              <th scope="col">Gene ID</th>
              <th scope="col">Annotated Oligo Sequence</th>
            </tr>
          </thead>
          <tbody>
          {{#listItems}}
            <tr>
              <td><a class="btn btn-primary {{active}}" href="#?page={{currentPageNumber}}&pageSize={{pageSize}}&view={{viewType}}&igvView={{id}}"><i class="bi-eye"></i></a></td>
              <td>{{ gene_id }}</td>
              <td>{{#annotations}}<span class="annotated-sequence break-all" aria-label="{{ label }}">{{ sequence }}</span>{{/annotations}}</td>
            </tr>
          {{/listItems}}
          </tbody>
        </table>
        <nav aria-label="Page navigation" class="my-3">
          <ul class="pagination justify-content-center">
            {{#paginationItems}}
            <li class="page-item {{disabled}}"><a class="page-link {{active}}" href="#?page={{pageNumber}}&pageSize={{pageSize}}&view={{viewType}}">{{label}}</a></li>
            {{/paginationItems}}
            <li class="page-item"><span class="pagination-label"> of {{pageCount}} pages.</span></li>
          </ul>
        </nav>{% endraw %}
      </script>
      <script id="view-type-view-template" type="x-tmpl-mustache">
        {% raw %}<div class="btn-group" role="group" aria-label="View type">
          {{#viewTypes}}
          <a class="btn btn-primary {{active}}" href="#?page={{currentPageNumber}}&pageSize={{pageSize}}&view={{id}}"><i class="{{icon}}"></i></a>
          {{/viewTypes}}
        </div>{% endraw %}
      </script>
      <div class="container-fluid px-lg-5">
        <h2>Search results</h2>
        {% for file in files %}
        <a class="btn buttons-html5 btn-success" download="{{ file.name }}" href="{{ file.data }}">Download {{ file.type }}</a>
        {% endfor %}
        <span id="view-type-view"></span>
      </div>
      <div class="container-fluid px-lg-5" id="igv-view"></div>
      <div class="container-fluid px-lg-5" id="item-view"></div>
      <script src="/static/vendor/mustache.js"></script>
      <script src="/static/vendor/igv.min.js"></script>
      <script src="/static/render-items.js"></script>
      <script>
        const searchResults = {% autoescape false %}{{ output }}{% endautoescape %};
        const updatePageState = getPaginator(searchResults);
        updatePageState();
        window.addEventListener("hashchange", updatePageState)
      </script>
    {% endif %}
  {% endif %}
{% endblock %}